<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.networkstack.tethering.salaa">

    <overlay
        android:isStatic="true"
        android:priority="0"
        android:targetPackage="com.android.networkstack.tethering"
        android:targetName="Tethering" />
</manifest>
