##################################################################################
### OPLUS All rights reserved.
###
### File: - init.oplus.rc
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
##################################################################################

# Dalvik configuration
on post-fs && property:ro.vendor.hw.ram=4GB
    setprop dalvik.vm.heapstartsize 8m
    setprop dalvik.vm.heapgrowthlimit 192m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.6
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 16m
on post-fs && property:ro.vendor.hw.ram=6GB
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 32m
on post-fs && property:ro.vendor.hw.ram=8GB
    setprop dalvik.vm.heapstartsize 24m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.46
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 48m

on boot
    # Power HAL
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    # Enable suspend to RAM
    write /sys/power/mem_sleep "deep"
