on boot
    stop console
    chown system system /sys/class/leds/vibrator/trigger
    chmod 0660 /sys/class/leds/vibrator/trigger
    chown system system /sys/class/leds/vibrator/activate
    chmod 0660 /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chmod 0660 /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chmod 0660 /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chmod 0660 /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/vmax
    chmod 0660 /sys/class/leds/vibrator/vmax

    # Dalvik configuration
on post-fs && property:ro.vendor.hw.ram=4GB
    setprop dalvik.vm.heapstartsize 8m
    setprop dalvik.vm.heapgrowthlimit 192m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.6
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 16m
on post-fs && property:ro.vendor.hw.ram=6GB
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 32m
on post-fs && property:ro.vendor.hw.ram=8GB
    setprop dalvik.vm.heapstartsize 24m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.46
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 48m

    # Power HAL
    setprop vendor.powerhal.init 1
