allow toolbox resourcecache_data_file:dir { rmdir search };
allow toolbox resourcecache_data_file:dir { read open };
allow toolbox resourcecache_data_file:dir { getattr setattr };
