allow toolbox resourcecache_data_file:dir { search read open };
allow toolbox resourcecache_data_file:dir { getattr setattr };
allow toolbox resourcecache_data_file:file { getattr setattr };
